
@media screen and (max-width: 1220px) {
	.right-part {
	  width: 45%;
	}
	.right-part img {
	  width: 450px;
	  height: 750px;
	  padding-left: 0px;
	}
	section.section2 .part1 img {
	  width: 80%;
	}
	section.section2 .part2 img {
	  width: 100%;
	}
	.qoveryusers {
	  padding-bottom: 125px;
	}
	footer {
	  background-color: #151b2b;
	  height: 130px;
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  justify-content: center;
	  text-align: center;
	  padding: 0 15px;
	}
	.q_calltoaction2 {
	  margin-bottom: -180px;
	}
  }
  @media screen and (max-width: 1150px) {

	.container {
	  width: 100%;
	  padding: 0 20px;
	  box-sizing: border-box;
  }
  
	section.section3 .part1 .seemore1:hover {
	  width: 15%;
	}
	section.section3 .part1 .seemore2:hover {
	  width: 15%;
	}
	.qoveryusers {
	  padding-bottom: 125px;
	}
	.q_calltoaction2 {
	  margin-bottom: -180px;
	}
  }
  @media screen and (max-width: 1136px) {
	section.section3 .text1 {
	  justify-content: space-around;
	}
	section.section3 .text2 {
	  justify-content: space-around;
	}
	section.section3 .part2 {
	  padding-bottom: 55px;
	}
	.text2 .box4 img {
	  width: 100%;
	}
	.qoveryusers {
	  padding-bottom: 85px;
	}
	footer {
	  background-color: #151b2b;
	  height: 130px;
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  justify-content: center;
	  text-align: center;
	  padding: 0 15px;
	}
	.q_calltoaction2 {
	  margin-bottom: -180px;
	}
  }
  @media screen and (max-width: 1014px) {
	.left-part {
	  margin-top: -281px;
	}
	.left-part .title h1 {
	  font-size: 36px;
	}
	.left-part h2 {
	  font-size: 20px !important;
	}
	.left-part p {
	  font-size: 14px !important;
	}
	.left-part h1 {
	  margin-top: 195px;
	  margin-bottom: 7px;
	}
	.githubbutton {
	  font-size: 15px;
	}
	.discordbutton {
	  font-size: 15px;
	}
	.discordbutton2 {
	  font-size: 15px;
	}
	.right-part {
	  width: 45%;
	}
	.right-part img {
	  width: 350px;
	  height: 750px;
	  padding-left: 70px;
	  margin-left: -50px;
	}
	section.section3 .part1 .seemore:hover {
	  width: 25%;
	}
	section.section3 .part1 .seemore2:hover {
	  width: 22.2%;
	}
	section.section3 .part2 {
	  padding-bottom: 55px;
	}
	footer {
	  background-color: #151b2b;
	  height: 130px;
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  justify-content: center;
	  text-align: center;
	  padding: 0 15px;
	}
	.q_calltoaction2 {
	  margin-bottom: -160px;
	}
  }
  @media screen and (max-width: 882px) {
	.left-part {
	  margin-top: -281px;
	}
	.left-part .title h1 {
	  font-size: 34.9px;
	}
	.left-part h1 {
	  margin-top: 195px;
	  margin-bottom: 7px;
	}
	.right-part img {
	  margin-left: -50px;
	  margin-top: -70px;
	  margin-left: -90px;
	}
	section.section3 .part2 {
	  padding-bottom: 55px;
	}
	footer {
	  background-color: #151b2b;
	  height: 130px;
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  justify-content: center;
	  text-align: center;
	  padding: 0 15px;
	}
	.q_calltoaction2 {
	  margin-bottom: -170px;
	}
  }
  @media (max-width: 824px) and (min-width: 764px) {
	.title {
	  display: flex;
	  align-items: baseline;
	  flex-direction: column;
	}
	.left-part {
	  margin-top: -281px;
	}
	.left-part h1 {
	  margin-top: 135px;
	  margin-bottom: 7px;
	}
	.right-part img {
	  margin-top: -70px;
	  margin-left: -90px;
	}
  }
  @media screen and (max-width: 763px) {
	.right-part {
	  display: none;
	}
	section.section1 {
	  height: 80vh;
	}
	section.section2 .part1 h3 {
	  padding-top: 75px;
	}
	section.section3 .text1 {
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  justify-content: center;
	  gap: 100px;
	}
	section.section3 .text1 .box1 {
	  width: 80%;
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  text-align: center;
	  margin-bottom: 20px;
	}
	section.section3 .text1 .box2 {
	  width: 70%;
	  margin-bottom: 55px;
	}
	section.section3 .text1 img {
	  display: flex;
	  align-items: center;
	  justify-content: center;
	}
	section.section3 .text2 {
	  display: flex;
	  flex-direction: column;
	  justify-content: space-between;
	  align-items: center;
	  justify-content: center;
	}
	section.section3 .text2 .box3 {
	  width: 80%;
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  text-align: center;
	  margin-bottom: 128px;
	}
	section.section3 .text2 .box4 {
	  width: 80%;
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  text-align: center;
	}
	section.section3 .part2 {
	  padding-bottom: 55px;
	}
	section.section3 .part1 .seemore {
	  font-size: 13px;
	  width: 60px;
	}
	section.section3 .part1 .seemore:hover {
	  width: 10%;
	  font-size: 13px;
	  width: 60px;
	}
	section.section3 .part1 .seemore2 {
	  font-size: 13px;
	  width: 60px;
	}
	section.section3 .part1 .seemore2:hover {
	  width: 20%;
	  font-size: 13px;
	  width: 60px;
	}
	.box2 {
	  width: 80%;
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  text-align: center;
	  margin-bottom: 20px;
	}
	footer {
	  background-color: #151b2b;
	  height: 130px;
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  justify-content: center;
	  text-align: center;
	  padding: 0 15px;
	}
	.qoveryusers {
	  padding-bottom: 85px;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  flex-direction: column;
	  gap: 50px;
	}
	.qoveryusers img:nth-child(1) {
	  width: 80%;
	}
	.qoveryusers img:nth-child(2) {
	  width: 59%;
	}
	.qoveryusers img:nth-child(3) {
	  width: 69%;
	}
	.left-part {
	  margin-top: -180px;
	}
	.left-part h1 {
	  margin-top: 142px;
	}
	.q_calltoaction2 {
	  margin-bottom: -180px;
	}
  }
  @media screen and (max-width: 600px) {
	.qoveryusers {
	  padding-bottom: 85px;
	}
	.left-part {
	  margin-top: -180px;
	}
	.left-part h1 {
	  margin-top: 142px;
	}
  }
  @media screen and (max-width: 539px) {
	.title {
	  display: flex;
	  align-items: baseline;
	  flex-direction: column;
	}
	.title h1 {
	  padding-top: 12px;
	  padding-bottom: 10px;
	}
	.left-part {
	  margin-top: -180px;
	}
	.left-part h1 {
	  margin-top: 22px;
	}
	section.section1 {
	  margin-bottom: -180px;
	}
	section.section2 .part1 h2 {
	  padding-top: 70px;
	}
  }
  @media screen and (max-width: 527px) {
	.q_btn {
	  padding: 9px 12px;
	  font-size: 11px;
	}
	.q_calltoaction2 {
	  font-size: 12px;
	  padding: 9px 12px;
	  margin-bottom: -180px;
	}
	.left-part {
	  margin-top: -180px;
	}
	.left-part h1 {
	  margin-top: 22px;
	}
	section.section1 {
	  margin-bottom: -180px;
	}
  }
  @media screen and (max-width: 515px) {
	.title {
	  display: flex;
	  align-items: baseline;
	  flex-direction: column;
	}
	.title h1 {
	  padding-top: 12px;
	  padding-bottom: 10px;
	}
	section.section1 {
	  margin-bottom: -180px;
	}
	.text1 .box2 img {
	  width: 90%;
	}
	.text2 .box3 img {
	  width: 70%;
	}
	.text2 .box4 img {
	  width: 90%;
	}
	section.section3 {
	  background-color: #F9F9FD;
	  display: flex;
	  text-align: center;
	  align-items: center;
	  justify-content: center;
	}
	section.section3 .text1 img:nth-child(1) {
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
	  width: 41%;
	}
	section.section3 .text2 img {
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
	  width: 43%;
	}
	.qoveryusers {
	  padding-bottom: 85px;
	}
	footer {
	  background-color: #151b2b;
	  height: 130px;
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  justify-content: center;
	  text-align: center;
	  padding: 0 15px;
	}
  }
  @media screen and (max-width: 499px) {
	section.section1 {
	  margin-bottom: -180px;
	}
	footer {
	  background-color: #151b2b;
	  height: 130px;
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  justify-content: center;
	  text-align: center;
	  padding: 0 15px;
	}
  }
  @media screen and (max-width: 410px) {
	.q_btn:nth-child(1) {
	  margin-right: 16px;
	  background: #454658;
	  padding: 8px 3px;
	}
	.q_calltoaction2 .q_btn:nth-child(1) {
	  font-size: 11px;
	  padding: 8px 16px;
	}
	.q_calltoaction2 .q_btn:nth-child(2) {
	  font-size: 11px;
	  padding: 8px 16px;
	}
	.left-part {
	  margin-top: -180px;
	}
	.left-part h1 {
	  margin-top: 22px;
	}
	section.section1 {
	  margin-bottom: -180px;
	}
  }
  @media screen and (max-width: 385px) {
	.q_btn:nth-child(1) {
	  margin-right: 10px;
	  background: #454658;
	  padding: 8px 3px;
	}
	section.section1 {
	  margin-bottom: -180px;
	}
  }
  @media screen and (max-width: 375px) {
	section.section1 {
	  margin-bottom: -140px;
	}
	section.section1 .title h1 {
	  font-size: 32px;
	}
	.left-part {
	  margin-top: -270px;
	}
	.left-part h1 {
	  margin-top: 23px;
	}
	.left-part h2 {
	  font-size: 10px;
	}
	.q_calltoaction {
	  margin-bottom: -210px;
	}
	.q_btn:nth-child(2) {
	  padding: 8px 3px;
	}
	.q_btn:nth-child(1) {
	  margin-right: 6px;
	  padding: 8px 2px;
	}
  }
  @media screen and (max-width: 355px) {
	.q_btn:nth-child(1) {
	  margin-right: 16px;
	  padding: 5px 0px;
	}
	.q_btn:nth-child(2) {
	  margin-right: 16px;
	  padding: 5px 0px;
	}
	.q_calltoaction2 .q_btn:nth-child(1) {
	  font-size: 9px;
	  padding: 8px 16px;
	}
	.q_calltoaction2 .q_btn:nth-child(2) {
	  font-size: 9px;
	  padding: 8px 16px;
	}
	.left-part {
	  margin-top: -340px;
	}
  }
  